
.cart{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart__btn{
  border: none;
  outline: none;
  background-color: tomato;
  color: aliceblue;
  padding: 1rem 1.5rem;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.cart__items{
  display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: repeat(2, 1fr);
   grid-column-gap: 20px;
   grid-row-gap: 25px;
   width: 90vw;
   max-width: 1440px;
   margin-right: auto;
   margin-left: auto; 
 } 
  